.filterList {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0;
    vertical-align: middle;
    background-color: #F7F7F7;
    color: #101828;
    padding: 12px 14px 12px 16px;
    border-radius: 12px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 32px;
    align-items: center;
    cursor: pointer;
    min-width: 196px;
}

.dropdown {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 4px;
    background-color: white;
    border: 1px solid #F7F7F7;
    border-radius: 12px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    transform-origin: top;
    transition: all 0.2s ease;
    z-index: 999;
    max-height: 0;
    opacity: 0;
    pointer-events: none;
}

.open {
    max-height: 15rem;
    opacity: 1;
    pointer-events: auto;
}

.dropdownList {
    scrollbar-width: 8px;
    scrollbar-color: #DADDE1 white;
    max-height: 15rem;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    list-style: none;
    padding: 14px 18px;
    row-gap: 8px;
    display: flex;
    flex-direction: column;
}

.dropdownList::-webkit-scrollbar-button {
    display: none;
    /* не прибирає стрілки.... */
}
.dropdownItem {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0;
    vertical-align: middle;
    cursor: pointer;
    color: #8D929A;
    transition: background-color 0.2s ease;
}

.dropdownItem:hover {
    background-color: #f3f4f6;
}

.selected {
    color:#101828;
}