@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-manrope), sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #f8f9fa;
  color: #101828;
}

a {
  text-decoration: none;
}

h1,h2,h3,h4,p {
  margin: 0;
}

button {
  cursor: pointer;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 120px;
}