.carPage{
    margin-top: 84px;   
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 120px;
    display: flex;
    gap:72px
}

.photoAndForm {
    width: 640px;
}

.carImage {
    margin-bottom: 40px;
    border-radius: 18.74;
}